#Identity Configuration
MYSQL_IDENTITY_PASSWORD=
MYSQL_DATABASE_NAME=


#JWT Configuration
JWT_SECRET_KEY=
JWT_VALIDISSUER=
JWT_VALIDAUDIENCES=

#RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASSWORD=